
body {
  background: url(http://subtlepatterns.com/patterns/carbon_fibre_v2.png);
  font-family: 'Lucida Grande';
  color: #fff;
  margin: 0;
  width: 100%;
  height: 100%;
}

#content {
  width: 100%;
  height: 100%;
  margin: 0;
}

.box {
  background-color: rgba(255,255,255,1);
  background: url(http://subtlepatterns.com/patterns/brushed_alu.png);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 3px 6px 4px;
}

#logo {
  position:absolute;
  left: 50%;
  width: 600px;
  margin-left: -300px;
  top:50%;
  height:280px;
  margin-top:-180px;
}

img {
  padding: 28px 0px 0px 10px;
  display: block;
  margin: 0 auto 0 auto;
}

p {
  text-align: center;
  font-size: 30px;
/*
**   text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.6);
*/
  font-weight: bold;
  padding: 12px 0 0 0;
  margin: 0px;
  text-shadow: 2px 2px 3px rgba(255,255,255,1);
  color: #000;
}

#bottom {
  position:absolute;
  border-radius: 12px 12px 0px 0px;
  bottom: 0px;
  width: 600px;
  left: 50%;
  width: 600px;
  margin-left: -300px;
  height:60px;
}
