
body {
	padding-top: 80px;
	text-align: justify;
	font-weight: 200;
}

.bloc h1, .bloc h2 .bloc p, .features h2, .features p {
	font-weight: 200;
}

.container {
	position: relative;
}

.github img {
	z-index: 10001;
	position: fixed;
	top: 0;
	right: 0;
	border: 0;
}


.topbar {
	height: 50px;
}

.topbar a {
	font-size: 15px;
	font-weight: bold;
}

.topbar p {
	line-height: 50px;
}

.topbar div > ul a, .nav a {
	padding: 14px 26px 15px;
	letter-spacing: 1px;
}

.topbar .logo {
	position:relative;
	float:left;
	margin-right:20px;
	top:3px;
}

.hero-unit {
	margin-bottom: 20px;
	background:#EFEFEF;
	padding: 30px 50px 30px;
}

.hero-unit .logo {
	position:relative;
	left:-20px;
	float:left;
	margin-right:10px;
}

.features p {
	font-size: 14px;
	line-height: 20px;
}

.hero-unit p.first {
	margin-top: 34px;
}

.hero-unit p.second {
	font-size:16px;
}


.page-header {
}

.page-header small {
	margin-left: 10px;
	font-style: italic;
}


.bloc {
	margin-bottom: 80px;
}






.team {
	position: relative;
}

.team .row {
	position: relative;
	margin-top: 30px;
}

.team .member {
	position: relative;
	background: #efefef;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	min-height: 30px;
}


.team .member .avatar {
	position: absolute;
	top: -18px;
	left: 2px;
	float: left;
	list-style: none;
	max-width: 50px;
	margin: 10px;
	padding: 5px;
	z-index: 1;
	-webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 3px 6px 0px;
	-moz-box-shadow: rgba(0, 0, 0, 0.5) 0 3px 6px 0px;
	box-shadow: rgba(0, 0, 0, 0.5) 0 3px 6px 0px;
	background: white;
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	transform: rotate(-3deg);
	-webkit-transition: -webkit-transform .3s linear;
	-moz-transition: -moz-transform .3s linear;
	-o-transition: -o-transform .3s linear;
	transition: transform .3s linear;
}



.team .member .name {
	margin-left: 74px;
	height: 40px;
	padding: 10px 10px;
	font-size: 16px;
	font-weight: bold;
}


.team .member .desc {
	padding: 4px 16px 26px 16px;
	text-align: left;

}

.team .member ul.social {
	list-style-type: none;
	position: absolute;
	bottom: -30px;
	right: 12px;
}

.team .member .social li {
	float: left;
}

.team .member .social li a {
	display: block;
	height: 32px;
	width: 32px;
	margin-left: 10px;
	background: transparent no-repeat;
}

.team .member .social li a:hover {
	background-opacity: 0.8;
}

.team .member .social .twitter {
	background-image: url(img/social.twitter.png);
}

.team .member .social .linkedin {
	background-image: url(img/social.linkedin.png);
}



.team a {
	color: #404040;
}

.team a:hover {
	text-decoration: none;
	color: #c00;
}




.eip p {
	font-size: 16px;
	font-weight: 200;
	line-height: 26px;
}

.eip a {
	font-size: 16px;
	font-weight: 500;
	text-align: right;
	color: #404040;
	display: block;
	right: 0px;
	position: absolute;
}








.footer.topbar {
	position: relative;
}

.footer p {
	font-size: 14px;
	font-weight: bold;
	color: white;
	letter-spacing: 1px;
}

.footer.topbar a, .eip a {
	text-decoration: none;
}
.footer.topbar a:hover, .eip a:hover {
	color: #c00;
}
